html,
body,
#tpMap {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #d8d8d8;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 4px;
}

html {
  font-size: 12px;
  font-family: Verdana, Arial;
}


.tp-bar {
  position: absolute;
  left: 10px;
  bottom: 20px;
  display: flex;
  z-index: 1001;
}
