#tpSplash {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#tpSplashContent {
  background: rgba(255,255,255,0.9);
  width: 60vw;
  max-width: calc(100% - 20px);
  border-radius: 5px;
  box-shadow: 0 0 4px #555;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#tpSlashList {
  overflow: auto;
  height: 100%;
  margin: 5px;
}

@supports (backdrop-filter: blur(5px)) {
  #tpSplashContent {
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(5px);
  }
}

.loader-header {
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
}

.loader-item {
 padding: 5px 5px;
 max-height: 100px;
 overflow: hidden;
 box-sizing: border-box;

  &.is-loaded {
    transition: max-height 500ms, padding 500ms;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.loader-item__label {
  font-size: 11px;
  margin-bottom: 2px;
  &.is-error {
    color: #f00;
  }
}

.loader-item__progress-bar {
  position: relative;
  overflow: hidden;
  height: 4px;
  border-radius: 2px;
  background: #e1e1e1;
}

.loader-item__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: width 250ms;
}
