.tutorial__item {
  padding: 10px 0 0 16px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.tutorial__icon {
  height: 24px;
  width: 24px;
  margin-right: 12px;
  flex: none;
}
